# Streamlit for the web app
streamlit==1.51.0

# Data handling
pandas==2.3.3

# Groq integration
langchain-groq==1.1.0
langchain==0.2.12
langchain-core==0.2.27

# Chroma vector store
chromadb==0.3.30
langchain-community==0.4.1

# Embeddings
langchain-huggingface==1.0.0
sentence-transformers==5.1.2

# Text splitting
langchain-text-splitters==1.0.0

# Document handling
python-docx==1.2.0
PyPDF2==3.0.1

# Utilities
numpy==2.3.5
tqdm==4.67.1
